body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: whitesmoke;
}
.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 29px;
    margin-left: 20px;
}
.links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: -500px;
}
.links li a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: sans-serif;
    color: rgb(133, 73, 73);
}
.links li:hover .navs{
    color: black;
}

.nav_buttons {
    margin-right: 30px;
  
}
.nav_buttons:hover {
    color: black;
}

.log-in {
    outline: none;
    border: none;
    background-color: whitesmoke;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 16.5px;
    color: rgb(138, 80, 80);
 
}
.log-in:hover {
    color: black;
}
.register {
    margin-left: 30px;
    padding: 8px 15px;
    background-color: whitesmoke;
    border-radius: 15px;
    text-transform: capitalize;
    color: rgb(161, 102, 102);
    border-color:  rgb(161, 102, 102);
}
.register:hover {
color: black;
border-color: black;
}

.body-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column-reverse; */


}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
    margin-top: 50px;
    
}
.img-container {
    height: 70vh;
    width: 30vw;
    margin-right: 100px;
}
img {
    height: 100%;
    width: 100%;
    display: block;
}
.paragraph {
    width: 300px;
    color: rgb(97, 77, 77);
    margin-top: -10px;
    margin-bottom: 30px;
}
.body-section-title {
    /* text-transform: capitalize; */
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 1px;
    font-family: sans-serif;
}
.learn-more {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.learn-more:hover{
    background-color: whitesmoke;
    color: black;
    border: 2px solid;
}
.svg-body-section {
    display: flex;
    gap: 25px;
}
.dropdown li a {
    text-decoration:none;
    font-size: 13px;
    
}
.dropdown li {
    list-style: none;
    margin-right: 10px;
}
.dropdown {
    display: none;
}
.dropdown svg {
    --size:15px;
    height: var(--size);
    width: var(--size);
    margin-right: 10px;
}
.features:hover .dropdown {
    position: absolute;
    display: block;
}
.features:hover .dropdown ul {
    background-color: white;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: -40px;
}
.features:hover .dropdown ul li {
     margin-left: -20px; 
    padding: 6px 5px ;
}
